/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.nav {
  display: inline-block;
  height: 70px;
  width: 100%;
}
.nav ul {
  line-height: 10px;
  width: 100%;
}
.nav ul li {
  float: left;
  width: 20%;
  height: 70px;
  padding: 0;
}
.nav ul li a {
  float: left;
  height: 40px;
  color: inherit;
  text-decoration: none;
  padding: 15px 25px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav ul li a:hover,
.nav ul li a.active {
  color: white;
  background: #ffffff;
}
ul.themed {
  margin: 0;
}
ul.themed li {
  padding: 10px 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
ul.themed li:hover {
  background: #ffffff;
}
ul.themed li.active {
  background: #ffffff;
}
ul.themed li a {
  text-decoration: none;
}
.padded {
  padding: 25px;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.strikethrough {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
